<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="tests" name="ParellelOn2Devices">
	<listeners>
		<listener class-name="base.Listeners" />
	</listeners>
	<test name="TestOnPixel2API31">
		<parameter name="deviceName" value="Android Emulator" />
		<parameter name="platformVersion" value="12" />
		<parameter name="udid" value="emulator-5554" />
		<classes>
			<class name="mobileApp.BillGenrator.CommonReuablescenarios" />
		</classes>
	</test>
	<test name="TestOnPixel2API31_2">
		<parameter name="deviceName" value="Android Emulator" />
		<parameter name="platformVersion" value="12" />
		<parameter name="udid" value="emulator-5556" />
		<classes>
			<class name="mobileApp.BillGenrator.CommonReuablescenarios" />
		</classes>
	</test>
	<!-- Test -->

</suite> <!--
Suite -->
